name: Playwright Automation

on:
  push:
    branches: [  master ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Playwright Automation CI Run Tests
        run: mvn clean test



